################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/CalCalTrackerWeb
/.vs
/CalCalTracker.Domain/bin
/CalCalTracker.Domain/obj
/CalCalTracker.Infrastructure.Core/bin
/CalCalTracker.Infrastructure.Core/obj
/CalCalTracker.Infrastructure.Core.Tests/bin
/CalCalTracker.Infrastructure.Core.Tests/obj
/CalCalTracker.Persistence.Core/bin
/CalCalTracker.Persistence.Core/obj

